body{
  background-color: #000;
}
/* CSS declarations go here */
body .video{
  margin-top: 63px;
}
video{width:100%;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
video::-webkit-media-controls {
  display: none;
}

.tweets{
  margin-top: 45px;
}

body .card{
  margin-top: 70px;
}
.ion-chevron-left{
  font-size: 36px;
  margin-left: 4px;
  color:#FFF;
}

a{
  text-decoration: none;
}

.list{
  margin-top:63px;
}
