<template name="channels">
  <div class="bar bar-header bar-dark">
    <a href="/">
      <i class="button icon-left ion-chevron-left button-clear button-light"></i>
    </a>
    <h1 class="title">Channels</h1>
  </div>
  <div class="channels">
    <ul class="list">
      <a class="linklist" href="/france2">
          <li class="item">France 2</li>
      </a>
      <a class="linklist" href="/france3">
          <li class="item">France 3</li>
      </a>
    </ul>
  </div>
</template>
