<template name="france3">
  <div class="bar bar-header bar-dark">
    <a href="/channels">
      <i class="button icon-left ion-chevron-left button-clear button-light"></i>
    </a>
    <h1 class="title">France 3</h1>
  </div>
  <video playsinline webkit-playsinline class="video" autoplay="true" src="http://live.francetv.fr/simulcast/France_3/hls_v1/index.m3u8"></video>
  <div class="tweets">
  <!--  <a class="twitter-timeline" data-chrome="nofooter" data-height="800" href="https://twitter.com/hashtag/france2" data-widget-id="795383524639514625">Tweets sur #france2</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->
  </div>
</template>
