<template name="index">
  <div class="container">
    <header class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Twélé.tv</a>
        </div>
    </header>
    {{> purpose}}
  </div>
</template>
