<template name="purpose">
  <div class="bar bar-header bar-dark">
    <h1 class="title">Twele.tv</h1>
  </div>
  <div class="card">
  <div class="item item-divider">
    Twélé.tv
    </div>
    <div class="item item-text-wrap">
      <p>This is a MVP Following The Lean Startup Strategy.</p>
      <p>The DADVSI French Law Is Killing in the egg this product</p>
      <p>By giving you access to this content, i am risking a 6 month jailing sentence, and 30 000€ Note</p>
      <p>By using this application, You are violating HADOPI, HADOPI 2, and Medias Law</p>
      <p>This law are not applicable on internet, for local law reason</p>
      <p>These 2 specifics Law, are violating Human Rights and Freedom of speech...</p>
      <p>The Business model is working on Deep Learning technologies and implies fucktons of money to develop</p>
      <p>For a better understatement of the supidity of this law, i suggest you to watch <a href="https://www.youtube.com/watch?v=eTOKXCEwo_8Away">The Pirate Bay - Away From Keyboard Documentary</a></p>
      <p>The video format used is only woking on webkit based browser and the twitter feed work only on desktop at the moment</p>
    </div>
  </div>
    <a class="button button-block button-positive" href="channels">Let's break theses stupid laws</a>
</template>
